<mat-card class="page">
  <h1>What would you like to study?</h1>
  <button type="button" (click)="navigateToStudy(studyLevels.N5)" class="fill-column n5-btn" mat-button color="primary" >N5 Kanji</button>
  <button type="button" (click)="navigateToStudy(studyLevels.N4)" class="fill-column n4-btn" mat-button color="accent" >N4 Kanji</button>
  <button type="button" (click)="navigateToStudy(studyLevels.N3)" class="fill-column n3-btn" mat-button color="accent">N3 Kanji</button>
  <button type="button" (click)="navigateToStudy(studyLevels.N2)" class="fill-column n2-btn" mat-button color="warn" >N2 Kanji</button>
  <button type="button" (click)="navigateToStudy(studyLevels.N1)" class="fill-column n1-btn" mat-button color="warn">N1 Kanji</button>
  </mat-card>
